<!DOCTYPE html>
<head>
	<title>Hello!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
</head>
<body>
	<div class="1">
		{% if name %}
	  		<h1>Hello {{ name }}!</h1>
		{% endif %}
		<h2>Below is where you most frequent!</h2>
		<a href='/addLocation'>Add Location</a>
	</div>

	<div id="mapid" style="width: 600px; height: 400px;"></div>
	<script type="text/javascript" src="map.js"></script>

</body>
<style>
	
</style>